/* body */
body {
	font-family: 'dtl_argot_light';
}
/*Body para Home*/
body.homeFidu {
	background: url(../img/body/fondo-home.png) no-repeat fixed center center /cover #FFF;
}
/*Fin Body Home*/
/*Body para ceois Intro*/
body.introceois {
	background: url(../img/body/ceois-intro.png) no-repeat fixed center center /cover #FFF;
}
/*Fin Body ceois Intro*/
/*Body para pmp Intro*/
body.intropmp {
	background: url(../img/body/pmp-intro.png) no-repeat fixed center center /cover #FFF;
}
/*Fin Body pmp Intro*/
/* header */
header {
	width: 100%;
	position: relative;
	height: 100px;
}

header .encabezado {
	text-align: right;
	width: 50%;
	height: 15px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #000000;
	float: left;
	position: relative;
	margin: 60px 0px 0px 0px;
	text-transform: uppercase;
}

header .encabezado img {
	position: absolute;
	bottom: -12px;
	right: 18px;
}

header .logo {
	float: right;
	margin: 35px 0px 0px 0px;
}
header .logo img {
	margin-right: 100px;
}
/* footer*/
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 106px;
	background: #002c75;
}

/* navegación*/
footer nav {
	margin: 25px 0px 0px 0px;
}
footer nav ul {
	height: 60px;
	list-style: none;
	margin: 0px 0px 0px 180px;
}
footer nav ul li {
	border-right: 2px solid #FFF;
	float: left;
	height: 55px;
}
footer nav ul li:first-child {
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
	height: 55px;
}
footer nav ul li a {
	padding-bottom: 37px;
	padding-left: 66px;
}
/*Aqui estan todos los iconos del footer*/
/*Icono 1 del footer*/
footer nav ul li a#icono1 {
	background-image: url(../img/iconos/navegacion/icono1.png);
}
footer nav ul li a#icono1:hover {
	background-image: url(../img/iconos/navegacion/icono1.png);
	background-position: 0px -57px;
}
/*Icono 2 del footer*/
footer nav ul li a#icono2 {
	background-image: url(../img/iconos/navegacion/icono2.png);
}
footer nav ul li a#icono2:hover {
	background-image: url(../img/iconos/navegacion/icono2.png);
	background-position: 0px -57px;
}
/*Icono 3 del footer*/
footer nav ul li a#icono3 {
	background-image: url(../img/iconos/navegacion/icono3.png);
}
footer nav ul li a#icono3:hover {
	background-image: url(../img/iconos/navegacion/icono3.png);
	background-position: 0px -57px;
}
/*Icono 4 del footer*/
footer nav ul li a#icono4 {
	background-image: url(../img/iconos/navegacion/icono4.png);
}
footer nav ul li a#icono4:hover {
	background-image: url(../img/iconos/navegacion/icono4.png);
	background-position: 0px -57px;
}
/*Icono 5 del footer*/
footer nav ul li a#icono5 {
	background-image: url(../img/iconos/navegacion/icono5.png);
}
footer nav ul li a#icono5:hover {
	background-image: url(../img/iconos/navegacion/icono5.png);
	background-position: 0px -57px;
}
/*Icono 6 del footer*/
footer nav ul li a#icono6 {
	background-image: url(../img/iconos/navegacion/icono6.png);
}
footer nav ul li a#icono6:hover {
	background-image: url(../img/iconos/navegacion/icono6.png);
	background-position: 0px -57px;
}
/*Icono 7 del footer*/
footer nav ul li a#icono7 {
	background-image: url(../img/iconos/navegacion/icono7.png);
}
footer nav ul li a#icono7:hover {
	background-image: url(../img/iconos/navegacion/icono7.png);
	background-position: 0px -57px;
}
/*Icono 8 del footer*/
footer nav ul li a#icono8 {
	background-image: url(../img/iconos/navegacion/icono8.png);
}
footer nav ul li a#icono8:hover {
	background-image: url(../img/iconos/navegacion/icono8.png);
	background-position: 0px -57px;
}
/*Icono 9 del footer*/
footer nav ul li a#icono9 {
	background-image: url(../img/iconos/navegacion/icono9.png);
}
footer nav ul li a#icono9:hover {
	background-image: url(../img/iconos/navegacion/icono9.png);
	background-position: 0px -57px;
}

footer nav ul li a#icono10 {
	background-image: url(../img/iconos/navegacion/icono10.png);
}
footer nav ul li a#icono10:hover {
	background-image: url(../img/iconos/navegacion/icono10.png);
	background-position: 0px -54px;
}
/*Aqui termina el codigo donde estan todos los iconos del footer*/

/* contenidos */
.contenidos {
}

/* controladores */
.controlador {
	float: left;
	width: 295px;
	height: 85px;
	margin: 10px 10px 20px 120px;
	font-size: 13px;
}
.controlador.full {
	width: 720px;
	height: 45px;
	margin: 20px auto 0px auto;
}
#index{
	background: url('../img/body/fondo-home.png') no-repeat fixed center center / cover #FFF;
position: absolute;
height: 100%;
width: 100%;
	
}

/* controlador select */
.controlador .div_select {
	float: left;
	width: 295px;
	height: 45px;
	margin: 15px 0px 0px 0px;
	font-size: 13px;
	overflow: hidden;
	background: url('../img/bg/bg_controlador_select.jpg') no-repeat 260px 10px #eaeaea;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #CCC;
}

.controlador .div_select select {
	float: left;
	width: 315px;
	height: 45px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	border: none;
	background: transparent;
	font-family: 'dtl_argot_light';
}

.controlador .div_select select option {
	background: #f9f9f9;
}
.controlador .div_select select option:nth-child(2n) {
	background: #f2f2f2;
}

/* controlador input type text */
.controlador input[type="text"] {
	float: left;
	width: 285px;
	height: 35px;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	font-size: 13px;
	overflow: hidden;
	background: #eaeaea;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #CCC;
	font-family: 'dtl_argot_light';
}

/* controlador input type text */
.controlador input[type="submit"], .controlador button {
	width: 205px;
	height: 45px;
	padding: 5px;
	margin: 0px 0px 0px 380px;
	background: #FFF;
	border: 2px solid #cf7931;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: 'dtl_argot_light';
	color: #cf7931;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}

/* contenedor */
.contenedor {
	width: 850px;
	margin: 0px auto;
}

/* contenedor de alertas */
.contenedor_alerta {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #ECECEC;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #CCC;
}

.contenedor_alerta a.cerrar {
	width: 72px;
	height: 63px;
	position: absolute;
	top: 0px;
	right: 0px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	font-size: 0px;
	cursor: pointer;
}

.contenedor_alerta .mensaje {
	background: #ECECEC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 10px 0px 0px 10px;
	float: left;
}

.contenedor_alerta.corta {
	display: block !important;
	height: 475px;
	margin: -240px 0px 0px -490px;
	width: 975px;
}

.contenedor_alerta.corta a.cerrar {
	background: url('../img/btn/btn_cerrar_alerta.png') no-repeat center top;
	background-size: contain;
	z-index: 10000 !important;
}

.contenedor_alerta.corta .mensaje {
	width: 955px;
	height: 455px;
}

.contenedor_alerta.corta .mensaje .alert {
	width: 340px;
	height: 20px;
	padding: 15px 10px;
	background: #f2f2f2;
	color: #2b2b2b;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 7px 0px 0px 10px;
}
.contenedor_alerta.corta .mensaje .alert_alta {
	background: none repeat scroll 0% 0% #F2F2F2;
	color: #7F7B79;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	padding: 0px;
	width: 928px;
	height: 198px;
	margin: 130px 0px 0px 10px;
}

/*CSS Home*/
/*Funciones Header Home*/
header .home {
	text-align: right;
	width: 100%;
	padding: 0px 0px 5px 0px;
	position: relative;
	margin: 60px 150px 0px 0px;
	text-align: center;
}
header h1 {
	font-size: 45px;
	color: #1B3073;
	text-transform: uppercase;
	font-weight: 900;
}

header h4 {
	font-size: 32px;
	color: #E6771E;
	padding-top: 10px;
}

/*Footer*/
footer.home {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 106px;
	background: transparent;
}

/*Contenedor*/
.contenedor-home {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
/*Contenedor imagen alinear derecha*/
.contenedor-home img {
	float: right;
}
/*Botones Home*/
.boton-home {
	border-style: solid;
	text-align: center;
	font-family: arial;
	color: #2B4A86;
	border-color: #2B4A86;
	background-color: transparent;
	font-size: 28px;
	padding: 8px 36px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	margin-right: 75px;
	cursor: pointer;
}
.boton-home:hover {
	color: #E6771E;
	border-color: #E6771E;
}
.boton-home-premium {
	border-style: solid;
	text-align: center;
	font-family: arial;
	color: #2B4A86;
	border-color: #2B4A86;
	background-color: transparent;
	font-size: 28px;
	padding: 8px 10px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
}
.boton-home-premium:hover {
	color: #E6771E;
	border-color: #E6771E;
}
.contenidos-home {
	margin: 150px 0px 0px 0px;
}
/* Fin Botones Home*/

/*Menu Principal*/
/*header*/

/*Fin Header*/

/*Contenedor*/
.contenedor-menu {
	height: 350px;
	margin-top: 50px;
}
/*Botones parte de arriba*/
.contenedor-menu ul li#arriba {
	width: 33.333%;
	float: left;
	padding-bottom: 100px;
}
/* FinBotones parte de arriba*/

/*Botones parte de abajo*/
.contenedor-menu ul li#abajo {
	width: 25%;
	float: left;
}
/*Fin Botones parte de arriba*/

/*Aqui se configura el tamaño del boton para que se vea*/
.contenedor-menu ul li a {
	padding-left: 255px;
	padding-bottom: 170px;
	float: left;
}

/*url de cada icono*/

.contenedor-menu ul li a#icono1 {
	background-image: url('../img/iconos/menu/boton1.png');
	background-repeat: no-repeat;
	background-size: 90%;
	margin-left: 20px;
}

.contenedor-menu ul li a#icono2 {
	background-image: url('../img/iconos/menu/boton2.png');
	background-repeat: no-repeat;
	margin-left: 50px;
	background-size: 90%;
}
.contenedor-menu ul li a#icono3 {
	background-image: url('../img/iconos/menu/boton3.png');
	background-repeat: no-repeat;
	float: right;
	margin-right: 10px;
	background-size: 90%;
}
.contenedor-menu ul li a#icono4 {
	background-image: url('../img/iconos/menu/boton4.png');
	background-repeat: no-repeat;
	background-size: 90%;
}
.contenedor-menu ul li a#icono5 {
	background-image: url('../img/iconos/menu/boton5.png');
	background-repeat: no-repeat;
	background-size: 90%;
}
.contenedor-menu ul li a#icono51 {
	background-image: url('../img/iconos/menu/boton5.1.png');
	background-repeat: no-repeat;
	background-size: 90%;
}
.contenedor-menu ul li a#icono52 {
	background-image: url('../img/iconos/menu/boton5.2.png');
	background-repeat: no-repeat;
	background-size: 90%;
}
.contenedor-menu ul li a#icono6 {
	background-image: url('../img/iconos/menu/boton6.png');
	background-repeat: no-repeat;
	background-size: 90%;
	margin-left: 15px;
}
.contenedor-menu ul li a#icono61 {
	background-image: url('../img/iconos/menu/boton6.1.png');
	background-repeat: no-repeat;
	background-size: 90%;
	margin-left: 15px;
}
.contenedor-menu ul li a#icono7 {
	background-image: url('../img/iconos/menu/boton7.png');
	background-repeat: no-repeat;
	background-size: 90%;
}

/*Fin Contenedor*/

/*Footer*/
.menu-principal img {
	float: right;
	width: 275px;
	margin: 30px 50px;
}
.menu-principal a#iconoHome {
	background-image: url('../img/iconos/navegacion/icono1.png');
}
.menu-principal a#iconoHome:hover {
	background-position: 0px -57px;
}
.menu-principal a {
	padding-left: 66px;
	padding-bottom: 57px;
	margin-top: 25px !important;
	position: absolute;
	margin-left: 30px;
}
/*Fin footer*/

/*Fin Menu Principal*/

/*Estilos Tabs*/
.etabs {
	margin: 0px 0px -15px;
	padding: 0;
}
.tab {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #eee;
	border-bottom: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.tab a {
	font-size: 24px;
	line-height: 2em;
	display: block;
	padding: 0px 10px;
	outline: medium none;
	font-family: "dtl_argot_light";
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
	font-variant: small-caps;
	text-shadow: 0px 0px 5px #000;
	letter-spacing: 2px;
}
.tab a:hover {
	text-decoration: none;
}
.tab.active {
	background: #fff;
	position: relative;
	border-color: #666;
	opacity: 1 !important;
}
.tab a.active {
	font-weight: bold;
}
.tab-container .panel-container {
	background: #E6E6E6;
	padding: 25px 20px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 20px 0px 20px 20px;
	color: #48464F;
	box-shadow: 5px 5px 5px #888;
	height: 350px;
	position: relative;
	min-height: 350px;
	max-height: 350px;
}
.panel-container {
	margin-bottom: 10px;
}
.tab-container {
	width: 90%;
	margin: 0px auto;
	padding-top: 50px;
}
/*Personilazacion parte de arriba tabs */
#tab-uno {
	margin-right: 34px;
	background-color: #E4CF6E;
	opacity: 0.5;
	padding-bottom: 8px;
}
#tab-uno.ative {
	margin-right: 20px;
	background-color: #E4CF6E;
	opacity: 0.5;
	padding-bottom: 12px;
}
#tab-uno img {
	position: absolute;
	right: 681px;
	top: 146px;
}
#tab-uno.active img {
	position: absolute;
	right: -37px;
	top: -4px;
}
#tab-dos {
	margin-right: 33px;
	background-color: #E1BB6D;
	opacity: 0.5;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
}
#tab-dos img {
	position: absolute;
	right: 402px;
	top: 146px;
}
#tab-dos.active img {
	position: absolute;
	right: -37px;
	top: -3px;
}
#tab-tres {
	margin-right: 10px;
	background-color: #E10819;
	opacity: 0.4;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
}
#tab-tres img {
	position: absolute;
	right: 110px;
	top: 146px;
}
#tab-tres.active img {
	position: absolute;
	top: -3px;
	right: -37px;
}
/*Estilo Texto Tabs*/
.texto-tabs {
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #7A7A7A;
	font-family: "dtl_argot_light";
	text-align: left !important;
}
/*Estilo Texto Tabs*/

/*Fin estilos Tabs*/

/*Estilos para CEOIS*/
/*Estilos para menu 1*/
.contenido-menu1-ceois {
	padding-top: 20px;
	text-align: center;
}
#grafica {
	width: 90%;
}
.titulo-fiduciaria-bogota {
	padding-top: 15px;
	text-align: left;
}
.titulo-fiduciaria-bogota h1 {
	font-size: 45px;
	color: #92005E;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #92005E !important;
	letter-spacing: 1px;
}
.titulo-fiduciaria-bogota-aval-y-calificaciones {
	padding-top: 15px;
	text-align: left;
}
.titulo-fiduciaria-bogota-aval-y-calificaciones h1 {
	font-size: 45px;
	color: #E46400;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #E46400 !important;
	letter-spacing: 1px;
	margin-left: 50px;
}
.titulo-fiduciaria-bogota h3 {
	font-size: 26px;
	color: #92005E;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}

.edificio {

}
.edificio img {
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}

.boton-ver-ranking {
	border-style: solid;
	text-align: center;
	color: #92005E;
	border-color: #92005E;
	background-color: transparent;
	font-size: 20px;
	padding: 8px 20px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
}
.boton-ver-ranking:hover {
	color: #E6771E;
	border-color: #E6771E;
}

/*Fin Estilos para menu 1*/
/* Estilos para menu 2*/
.contenido-menu2-ceois {
	padding-top: 20px;
	text-align: center;
}
.titulo-perfil-de-riesgo {
	padding-top: 15px;
	text-align: left;
	margin-left: 50px;
	padding-bottom: 40px;
}
.titulo-perfil-de-riesgo h1 {
	font-size: 45px;
	color: #00B800;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #00B800 !important;
	letter-spacing: 1px;
}

.titulo-perfil-de-riesgo h3 {
	font-size: 26px;
	color: #00B800;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}
/*Fin Estilos para menu 2*/
/* Estilos para menu 3*/
.contenido-menu3-ceois {
	padding-top: 20px;
	text-align: center;
}
#boton1 {
	margin-right: 50px;
	padding-bottom: 10px;
}
.titulo-simuladores {
	padding-top: 15px;
	text-align: left;
	margin-left: 70px;
	padding-bottom: 60px;
}
.titulo-simuladores h1 {
	font-size: 45px;
	color: #717171;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #717171 !important;
	letter-spacing: 1px;
}

/*Fin Estilos para menu 3*/
/* Estilos para menu 5*/
.contenido-menu5-ceois {
	text-align: center;
	background-image: url('../img/bg/fondo-fiducia-de-inversion.png');
	background-repeat: no-repeat;
	padding: 280px;
}
.contenido-menu5-ceois-menu {
	position: absolute;
	top: 130px;
	right: 0px;
	width: 600px;
}

.contenido-menu5-ceois ul#arriba {
	margin-bottom: 43px;
}
.contenido-menu5-ceois ul#medio {
	margin-bottom: 30px;
}
.contenido-menu5-ceois ul#abajo {

}
.contenido-menu5-ceois ul {
	margin-right: 40px;
	float: left;
}
.contenido-menu5-ceois ul li {
	float: left;
	margin-left: -20px;
}

.contenido-menu5-ceois ul li img {
	width: 90%;
}

/*Fin Estilos para menu 5*/
/* Estilos para menu 5.1 Sumar Riesgo Bajo*/
.contenido-menu51-ceois {
	text-align: center;
	background-image: url('../img/bg/riesgo-bajo-ceois.png');
	background-repeat: no-repeat;
	padding: 280px;
}
.boton-ver-grafica {
	position: absolute;
	bottom: 140px;
	left: 160px;
	border-style: solid;
	text-align: center;
	color: #92005E;
	border-color: #92005E;
	background-color: transparent;
	font-size: 16px;
	padding: 5px 12px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
}
.boton-ver-grafica:hover {
	color: #E6771E;
	border-color: #E6771E;
}
/* Fin Estilos para menu 5.1 Sumar Riesgo bajo*/
/* Estilos para menu 5.2 Sumar Riesgo Bajo*/
.contenido-menu52-ceois {
	text-align: center;
	background-image: url('../img/bg/riesgo-moderado-ceois.png');
	background-repeat: no-repeat;
	padding: 280px;
}

/* Fin Estilos para menu 5.2 Sumar Riesgo bajo*/
/* Estilos para menu 5.3 Sumar Riesgo Bajo*/
.contenido-menu53-ceois {
	text-align: center;
	background-image: url('../img/bg/riesgo-alto-ceois.png');
	background-repeat: no-repeat;
	padding: 280px;
}
/* Fin Estilos para menu 5.3 Sumar Riesgo bajo*/
/*Estilos para menu 6*/
.contenido-menu6-ceois {
	height: 500px;
	margin-top: 100px;
}

.contenido-menu6-ceois ul {
	float: left;
	width: 80%;
	margin-left: 100px;
	border-width: 0px 0px 3px;
	border-style: none none solid;
	border-color: #DFDFDF;
	padding-bottom: 10px;
}
.ultima {
	border-width: 0px 0px 0px !important;
}
.contenido-menu6-ceois ul li {
	float: left;
	font-size: 45px;
	color: #233476;
	padding: 15px;
}

.boton1-admin {
	border-style: solid;
	text-align: center;
	color: #E48231;
	background-color: #E9E9E9;
	font-size: 14px;
	padding: 2px 10px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
	font-variant: small-caps;
	font-weight: bold;
	box-shadow: 2px 2px 2px #D5D4D6;
}
.boton2-admin {
	border-style: solid;
	text-align: center;
	color: #E48231;
	background-color: #E9E9E9;
	font-size: 15px;
	padding: 8px 45px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 2px 2px 2px #D5D4D6;
}
#admin {
	padding-right: 40px;
}
#fuente {
	padding-right: 192px;
}
#fidu {
	padding-right: 121px;
}
#custodia {
	padding-right: 318px;
	border-width: 0px 0px 3px !important;
}

/*Fin Estilos para menu 6*/
/* Estilos para 6.1 admon-pagos*/
#tab-admon-pagos {
	background-color: #E6782C;
	color: #fff;
	padding-bottom: 8px;
}

#admon-pagos img {
	padding-top: 30px;
}
.boton-ver-grafica-admon {
	bottom: 140px;
	border-style: solid;
	text-align: center;
	color: #92005E;
	border-color: #92005E;
	background-color: transparent;
	font-size: 16px;
	padding: 5px 12px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
	margin-top: 10px;
}
.contenedor_alerta.corta .mensaje .alert_alta-admon {
	background: none repeat scroll 0% 0% #ECECEC;
	color: #7F7B79;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	padding: 0px;
	width: 928px;
	height: 198px;
	margin: 30px 0px 0px 10px;
}
/* Fin Estilos para 6.1 admon-pagos*/
/* Estilos para 6.2 admin-anticipos*/
.boton-ver-grafica-admin-anticipo {
	bottom: 140px;
	border-style: solid;
	text-align: center;
	color: #92005E;
	border-color: #92005E;
	background-color: transparent;
	font-size: 16px;
	padding: 5px 12px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
	margin-top: 50px;
}
/* Fin Estilos para 6.2 admin-anticipos*/
/* Estilos para 6.3 admin-anticipos*/
#tab-fuente-pago {
	background-color: #0F2B74;
	color: #FFF;
	padding-bottom: 8px;
}
/* Fin Estilos para 6.3 admin-anticipos*/
/* Estilos para 6.4 admin-anticipos*/
#tab-garantia {
	background-color: #51AA3B;
	color: #FFF;
	padding-bottom: 8px;
}
/* Fin Estilos para 6.4 admin-anticipos*/

/* Estilos para 6.5 Tab custodia*/
#tab-uno-custodia {
	margin-right: 30px;
	background-color: #E4CF6E;
	opacity: 0.5;
	padding-bottom: 12px;
	padding-right: 60px;
	padding-left: 60px;
}
#tab-uno-custodia img {
	position: absolute;
	right: 701px;
	top: 66px;
}
#tab-uno-custodia.active img {
	position: absolute;
	right: -37px;
	top: -4px;
}
#tab-uno-custodia a {
	font-size: 20px;
}

#tab-dos-custodia {
	margin-right: 30px;
	background-color: #E1BB6D;
	opacity: 0.5;
	padding-bottom: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
#tab-dos-custodia img {
	position: absolute;
	right: 414px;
	top: 66px;
}
#tab-dos-custodia.active img {
	position: absolute;
	right: -37px;
	top: -3px;
}
#tab-dos-custodia a {
	font-size: 20px;
}
#tab-tres-custodia {
	margin-right: 10px;
	background-color: #E10819;
	opacity: 0.4;
	padding-bottom: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
#tab-tres-custodia img {
	position: absolute;
	right: 118px;
	top: 66px;
}
#tab-tres-custodia.active img {
	position: absolute;
	top: -3px;
	right: -37px;
}
#tab-tres-custodia a {
	font-size: 20px;
}
.titulo-actividades-principales {
	font-size: 45px;
	color: #E6782B;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #E6782B !important;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-left: 40px;
}
.titulo-activos-h1 {
	font-size: 45px;
	color: #E6782B;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #E6782B !important;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-left: 40px;
}
.titulo-activos-h3 {
	font-size: 35px;
	color: #E6782B;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 0px #E6782B !important;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-left: 40px;
}
#tab-uno-activos {
	margin-right: 30px;
	background-color: #E4CF6E;
	opacity: 0.5;
	padding-bottom: 12px;
	padding-right: 60px;
	padding-left: 60px;
}
#tab-uno-activos a {
	font-size: 20px;
}
#tab-uno-activos img {
	position: absolute;
	right: 496px;
	top: 111px;
}
#tab-uno-activos.active img {
	position: absolute;
	right: -37px;
	top: -3px;
}
#tab-dos-operaciones {
	margin-right: 70px;
	background-color: #E1BB6D;
	opacity: 0.5;
	padding-bottom: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
#tab-dos-operaciones a {
	font-size: 20px;
}
#tab-dos-operaciones img {
	position: absolute;
	right: 303px;
	top: 111px;
}
#tab-dos-operaciones.active img {
	position: absolute;
	right: -37px;
	top: -3px;
}
.tab-container .panel-container-custodia {
	background: none repeat scroll 0% 0% #E6E6E6;
	padding: 25px 20px 10px;
	border-radius: 20px 0px 20px 20px;
	color: #48464F;
	box-shadow: 5px 5px 5px #888;
	height: 350px;
	position: relative;
	min-height: 350px;
	max-height: 350px;
}
.etabs-custodia {
	margin: 0px 0px -15px;
	padding: 0px;
	text-align: center;
}
/* Fin Estilos para 6.5 Tab custodia*/
/*Fin Estilos para CEOIS*/
/*Estilos para PMP*/
/*Estilos menu1 PMP*/
.contenido-menu1-pmp {
	padding-left: 50px;
	padding-top: 50px;
}
.contenido-menu1-pmp p {
	font-size: 22px;
	line-height: 25px;
}

.contenido-menu1-pmp b {
	font-size: 22px;
	font-weight: bold;
}

.contenido-menu1-pmp ul {
	margin-top: 10px;
	line-height: 28px;
}

.contenido-menu1-pmp ul li {
	font-size: 22px;
}
.contenido-menu1-pmp ul li:before {
	content: "• ";
	color: #92005E;
}
/*Fin Estilos menu1 PMP*/
/*Estilos menu2 PMP*/

.contenido-menu2-pmp {
	text-align: center;
}
.contenido-menu2-pmp img {
	width: 400px;
}

.contenido-menu2-pmp a#persona {
	margin-right: 100px;
}
.contenido-menu2-pmp a#boton2 {
	margin-bottom: 10px;
}
/*Fin Estilos menu2 PMP*/

/*Estilos menu4 PMP*/

#boton-simulador-pmp {
	margin-right: 50px;
}
.contenido-menu4-pmp {
	padding-top: 20px;
	text-align: center;
}
/*Fin Estilos menu4 PMP*/

#boton-administrador-pmp {
	margin-right: 50px;
}
.contenido-menu7-pmp {
	padding-top: 70px;
	text-align: center;
}
/*Fin Estilos menu4 PMP*/

/*Estilo fiducia mercantil*/
.fiducia-mercantil {
	text-align: center;
	padding-top: 50px;
}

.boton-ver-grafica-fiducia-mercantil {
	bottom: 140px;
	border-style: solid;
	text-align: center;
	color: #92005E;
	border-color: #92005E;
	background-color: transparent;
	font-size: 16px;
	padding: 5px 12px;
	border-width: 1px;
	border-radius: 8px;
	font-family: "dtl_argot_light";
	cursor: pointer;
	margin-top: 10px;
}
/*Fin Estilo boton ver grafica fiducia mercantil*/

/*Fin Estilos para PMP*/

